<!--<!DOCTYPE html>-->

<!--<meta charset="UTF-8"/>-->
<!--<head>-->
    <!--<link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet">-->
    <!--&lt;!&ndash;must add the link to the fonts from google&ndash;&gt;-->

    <!--<title>JBC Library</title>-->
    <!--<link rel="stylesheet" href="../static/stylesheet.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-md-8">-->
            <!--<div class="background">-->


            <!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

    <meta charset="UTF-8"/>
    <head>
    <title>JBC Library</title>

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <link rel="stylesheet" href="../static/css/stylesheet.css">
        <link rel="stylesheet" href="css/stylesheet.css">


    </head>

<body>



<div class="container-fluid text-center">

    <nav class="navbar navbar-fixed-top first-header">
        <div class="container-fluid">

        </div><html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    </nav>

    <ul class="nav nav-tabs distance">

        <li class="active"><a href="/processbook">List of books</a></li>
        <li class="active"><a href="/addbook">Add a book</a></li>
        <li class="active"><a href="/borrowbook">Borrow a book</a></li>
        <li class="active"><a href="/returnbook">Return a book</a></li>

    </ul>

</div>
<div>
<img  src="Images/blue-watercolor-free-vector-background.jpg" height="540" style="width:100%;" />
<div class="centered">
    <h1 >JBC Library</h1>

</div>
    <div class="bottom-right">


        <img src="Images/Books.jpg" height="337" width="600"/>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>