.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:20px;
    color:white;

}
.centertable{
    border: 1px solid black;
    width: 100%;
    align-content: right;
    mso-cellspacing: 10px;
    border: 1px solid black;
    height: 50px;
    width: 100%;
}